<!DOCTYPE html>
<html lang="en" class=" js cssanimations csstransitions"><head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Westernunion Moneytransfer</title>
        <!-- Load Roboto font -->
        <link href="http://fonts.googleapis.com/css?family=Roboto:400,300,700&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <!-- Load css styles -->
        <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="stylesheet" type="text/css" href="css/pluton.css">
        <!--[if IE 7]>
            <link rel="stylesheet" type="text/css" href="css/pluton-ie7.css" />
        <![endif]-->
        <link rel="stylesheet" type="text/css" href="css/jquery.cslider.css">
        <link rel="stylesheet" type="text/css" href="css/jquery.bxslider.css">
        <link rel="stylesheet" type="text/css" href="css/animate.css">
        <!-- Fav and touch icons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/apple-touch-icon-72.png">
        <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57.png">
        <link rel="shortcut icon" href="images/ico/favicon.ico">
        <link rel="stylesheet" href="/stylesheets/style.css">
    <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/34/14/intl/vi_ALL/common.js"></script><script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/34/14/intl/vi_ALL/util.js"></script><script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/34/14/intl/vi_ALL/stats.js"></script><script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps/api/js/AuthenticationService.Authenticate?1shttp%3A%2F%2Fwesternunion-transfermoney.ga%2F&amp;5shttp%3A%2F%2Fwesternunion-transfermoney.ga%2F&amp;callback=_xdc_._ug7y0f&amp;token=57558"></script></head>
    
    <body style="max-width: 100%;">
        <div class="navbar navbar-fixed-top animated fadeInDown">
            <div class="navbar-inner">
                <div class="container">
                    <a href="#" class="brand">
                        <img src="images/logo.png" width="120" height="40" alt="Logo">
                        <!-- This is website logo -->
                    </a>
                    <!-- Navigation button, visible on small resolution -->
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <i class="icon-menu"></i>
                    </button>
                    <!-- Main navigation -->
                    <div class="nav-collapse collapse pull-right">
                        <ul class="nav" id="top-navigation">
                            <li class=""><a href="http://westernunion-transfermoney.ga/">Home</a></li>
                            <li><a href="http://westernunion-transfermoney.ga/">Send Money</a></li>
                            <li><a href="http://westernunion-transfermoney.ga/">Receive Money</a></li>
                            <li><a href="http://westernunion-transfermoney.ga/">Pay Bills</a></li>
                            <li><a href="http://westernunion-transfermoney.ga/">Prepaid Cards</a></li>
                            <li><a href="http://westernunion-transfermoney.ga/">Track Transfer</a></li>
                           
                        </ul>
                    </div>
                    <!-- End main navigation -->
                </div>
            </div>
        </div>
        <!-- Start home section -->
        <div id="home">
            <!-- Start cSlider -->
            <div id="da-slider" class="da-slider" style="height: 202px; background-position: 300% center;">
                <div class="triangle" style="border-left: 230.5px outset transparent; border-right: 230.5px outset transparent;"></div>
                <!-- mask elemet use for masking background image -->
                <div class="mask"></div>
                <!-- All slides centred in container element -->
                <div class="container">
                    <!-- Start first slide -->
                    <div class="da-slide da-slide-fromright da-slide-current">
                        <h2 class="fittext2">Westernunion Kingtransfer</h2>
                        <h4>Lựa chọn thông minh cho mọi người</h4>
                        <p>Tiết kiện thời gian, giúp quản lý tài chính một cách thông minh, tiện lợi và nhanh chống.</p>
                        <a href="http://westernunion-transfermoney.ga/" class="da-link button">Read more</a>

                        <div class="da-img">
                            <img src="images/Slider01.png" alt="image01" width="320">
                        </div>
                    </div>
                    <!-- End first slide -->
                    <!-- Start second slide -->
                    <div class="da-slide da-slide-toleft">
                        <h2>Westernunion Kingtransfer</h2>
                        <h4>Đơn giản, dễ quản lý</h4>
                        <p>Mọi công việc tài chính trở nên đơn giản hơn nhiều lần với WK</p>
                       <a href="http://westernunion-transfermoney.ga/" class="da-link button">Read more</a>
                        <div class="da-img">
                            <img src="images/Slider02.png" width="320" alt="image02">
                        </div>
                    </div>
                    <!-- End second slide -->
                    <!-- Start third slide -->
                    <div class="da-slide da-slide-toleft">
                        <h2>Westerunion Kingtransfer</h2>
                        <h4>Top - Money Transfer</h4>
                        <p>Luôn đi đầu trong lĩnh vực tài chính Online, luôn là người bạn đáng tin cậy của mỗi người.</p>
                        <a href="http://westernunion-transfermoney.ga/" class="da-link button">Read more</a>
                        <div class="da-img">
                            <img src="images/Slider03.png" width="320" alt="image03">
                        </div>
                    </div>
                    <!-- Start third slide -->
                    <!-- Start cSlide navigation arrows -->
                    <div class="da-arrows">
                        <span class="da-arrows-prev"></span>
                        <span class="da-arrows-next"></span>
                    </div>
                    <!-- End cSlide navigation arrows -->
                </div>
            <nav class="da-dots"><span class="da-dots-current"></span><span class=""></span><span class=""></span></nav></div>
        </div>
        <!-- End home section -->
        <!-- Service section start -->
        <div class="section primary-section" id="service">
            <div class="container">
                <!-- Start title section -->
                <div class="title">
                    <h1>Chọn hình thức giao dịch</h1>
                    <!-- Section's title goes here -->
                    <p>Vui lòng "CLICK" chọn 1 trong các hình thức giao dịch bên dưới</p>
                    <!--Simple description for section goes here. -->
                </div>
                <div class="row-fluid">
                    <div class="span4">
                        <div class="centered service">
                            <div class="circle-border zoom-in">
                                <a href="http://westernunion-transfermoney.ga/ct.html"><img class="img-circle" src="images/Service1.png" alt="service 1"></a>
                            </div>
                            <a href="http://westernunion-transfermoney.ga/ct.html"><h3> Nhận tiền quốc tế</h3></a>
                            
                        </div>
                    </div>
                    <div class="span4">
                        <div class="centered service">
                            <div class="circle-border zoom-in">
                                <a href="http://westernunion-transfermoney.ga/ct.html"><img class="img-circle" src="images/gui-tien.jpg" alt="service 2"></a>
                            </div>
                            <a href="http://westernunion-transfermoney.ga/ct.html"><h3>Gửi tiền quốc tế</h3></a>
                         
                        </div>
                    </div>
                    <div class="span4">
                        <div class="centered service">
                            <div class="circle-border zoom-in">
                                <a href="http://westernunion-transfermoney.ga/ct.html"><img class="img-circle" src="images/Service3.png" alt="service 3"></a>
                            </div>
                            <a href="http://westernunion-transfermoney.ga/ct.html"><h3>Kiểm tra giao dịch</h3></a>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Service section end -->
        <!-- Portfolio section start -->
        <div class="section secondary-section " id="portfolio">
            <div class="triangle animated fadeInDown" style="border-left: 230.5px outset transparent; border-right: 230.5px outset transparent;"></div>
            <div class="container">
                <div class=" title">
                    <h1>Ngân hàng đối tác của chúng tôi ở Việt Nam</h1>
                    <p></p>
                </div>
                <ul class="nav nav-pills">
                    <li class="filter active" data-filter="all">
                        <a href="#noAction">All</a>
                    </li>
                    
                </ul>
                <!-- Start details for portfolio project 1 -->
                <div id="single-project">
                    <div id="slidingDiv" class="toggleDiv row-fluid single-project" style="display: none;">
                        <div class="span6">
                            <div class="project-description">
                                <div class="project-title clearfix">
                                    <h3>Webste for Some Client</h3>
                                    <span class="show_hide close">
                                        <i class="icon-cancel"></i>
                                    </span>
                                </div>
                                <div class="project-info">
                                    <div>
                                        <span>Client</span>Some Client Name</div>
                                    <div>
                                        <span>Date</span>July 2013</div>
                                    <div>
                                        <span>Skills</span>HTML5, CSS3, JavaScript</div>
                                    <div>
                                        <span>Link</span>http://examplecomp.com</div>
                                </div>
                                <p>Believe in yourself! Have faith in your abilities! Without a humble but reasonable confidence in your own powers you cannot be successful or happy.</p>
                            </div>
                        </div>
                    </div>
                    <!-- End details for portfolio project 1 -->
                    <!-- Start details for portfolio project 2 -->
                    <div id="slidingDiv1" class="toggleDiv row-fluid single-project" style="display: none;">
                        
                        <div class="span6">
                            <div class="project-description">
                                <div class="project-title clearfix">
                                    <h3>Webste for Some Client</h3>
                                    <span class="show_hide close">
                                        <i class="icon-cancel"></i>
                                    </span>
                                </div>
                                <div class="project-info">
                                    <div>
                                        <span>Client</span>Some Client Name</div>
                                    <div>
                                        <span>Date</span>July 2013</div>
                                    <div>
                                        <span>Skills</span>HTML5, CSS3, JavaScript</div>
                                    <div>
                                        <span>Link</span>http://examplecomp.com</div>
                                </div>
                                <p>Life is a song - sing it. Life is a game - play it. Life is a challenge - meet it. Life is a dream - realize it. Life is a sacrifice - offer it. Life is love - enjoy it.</p>
                            </div>
                        </div>
                    </div>
                    <!-- End details for portfolio project 2 -->
                    <!-- Start details for portfolio project 3 -->
                    <div id="slidingDiv2" class="toggleDiv row-fluid single-project" style="display: none;">
                        <div class="span6">
                            <div class="project-description">
                                <div class="project-title clearfix">
                                    <h3>Webste for Some Client</h3>
                                    <span class="show_hide close">
                                        <i class="icon-cancel"></i>
                                    </span>
                                </div>
                                <div class="project-info">
                                    <div>
                                        <span>Client</span>Some Client Name</div>
                                    <div>
                                        <span>Date</span>July 2013</div>
                                    <div>
                                        <span>Skills</span>HTML5, CSS3, JavaScript</div>
                                    <div>
                                        <span>Link</span>http://examplecomp.com</div>
                                </div>
                                <p>How far you go in life depends on your being tender with the young, compassionate with the aged, sympathetic with the striving and tolerant of the weak and strong. Because someday in your life you will have been all of these.</p>
                            </div>
                        </div>
                    </div>
                    <!-- End details for portfolio project 3 -->
                    <!-- Start details for portfolio project 4 -->
                    <div id="slidingDiv3" class="toggleDiv row-fluid single-project" style="display: none;">
                        <div class="span6">
                            <div class="project-description">
                                <div class="project-title clearfix">
                                    <h3>Project for Some Client</h3>
                                    <span class="show_hide close">
                                        <i class="icon-cancel"></i>
                                    </span>
                                </div>
                                <div class="project-info">
                                    <div>
                                        <span>Client</span>Some Client Name</div>
                                    <div>
                                        <span>Date</span>July 2013</div>
                                    <div>
                                        <span>Skills</span>HTML5, CSS3, JavaScript</div>
                                    <div>
                                        <span>Link</span>http://examplecomp.com</div>
                                </div>
                                <p>Life's but a walking shadow, a poor player, that struts and frets his hour upon the stage, and then is heard no more; it is a tale told by an idiot, full of sound and fury, signifying nothing.</p>
                            </div>
                        </div>
                    </div>
                    <!-- End details for portfolio project 4 -->
                    <!-- Start details for portfolio project 5 -->
                    <div id="slidingDiv4" class="toggleDiv row-fluid single-project" style="display: none;">
                        <div class="span6">
                            <div class="project-description">
                                <div class="project-title clearfix">
                                    <h3>Webste for Some Client</h3>
                                    <span class="show_hide close">
                                        <i class="icon-cancel"></i>
                                    </span>
                                </div>
                                <div class="project-info">
                                    <div>
                                        <span>Client</span>Some Client Name</div>
                                    <div>
                                        <span>Date</span>July 2013</div>
                                    <div>
                                        <span>Skills</span>HTML5, CSS3, JavaScript</div>
                                    <div>
                                        <span>Link</span>http://examplecomp.com</div>
                                </div>
                                <p>We need to give each other the space to grow, to be ourselves, to exercise our diversity. We need to give each other space so that we may both give and receive such beautiful things as ideas, openness, dignity, joy, healing, and inclusion.</p>
                            </div>
                        </div>
                    </div>
                    <!-- End details for portfolio project 5 -->
                    <!-- Start details for portfolio project 6 -->
                    <div id="slidingDiv5" class="toggleDiv row-fluid single-project" style="display: none;">
                        <div class="span6">
                            <div class="project-description">
                                <div class="project-title clearfix">
                                    <h3>Webste for Some Client</h3>
                                    <span class="show_hide close">
                                        <i class="icon-cancel"></i>
                                    </span>
                                </div>
                                <div class="project-info">
                                    <div>
                                        <span>Client</span>Some Client Name</div>
                                    <div>
                                        <span>Date</span>July 2013</div>
                                    <div>
                                        <span>Skills</span>HTML5, CSS3, JavaScript</div>
                                    <div>
                                        <span>Link</span>http://examplecomp.com</div>
                                </div>
                                <p>I went to the woods because I wished to live deliberately, to front only the essential facts of life, and see if I could not learn what it had to teach, and not, when I came to die, discover that I had not lived.</p>
                            </div>
                        </div>
                    </div>
                    <!-- End details for portfolio project 6 -->
                    <!-- Start details for portfolio project 7 -->
                    <div id="slidingDiv6" class="toggleDiv row-fluid single-project" style="display: none;">
                        <div class="span6">
                            <div class="project-description">
                                <div class="project-title clearfix">
                                    <h3>Webste for Some Client</h3>
                                    <span class="show_hide close">
                                        <i class="icon-cancel"></i>
                                    </span>
                                </div>
                                <div class="project-info">
                                    <div>
                                        <span>Client</span>Some Client Name</div>
                                    <div>
                                        <span>Date</span>July 2013</div>
                                    <div>
                                        <span>Skills</span>HTML5, CSS3, JavaScript</div>
                                    <div>
                                        <span>Link</span>http://examplecomp.com</div>
                                </div>
                                <p>Always continue the climb. It is possible for you to do whatever you choose, if you first get to know who you are and are willing to work with a power that is greater than ourselves to do it.</p>
                            </div>
                        </div>
                    </div>
                    <!-- End details for portfolio project 7 -->
                    <!-- Start details for portfolio project 8 -->
                    <div id="slidingDiv7" class="toggleDiv row-fluid single-project" style="display: none;">
                        <div class="span6">
                            <div class="project-description">
                                <div class="project-title clearfix">
                                    <h3>Webste for Some Client</h3>
                                    <span class="show_hide close">
                                        <i class="icon-cancel"></i>
                                    </span>
                                </div>
                                <div class="project-info">
                                    <div>
                                        <span>Client</span>Some Client Name</div>
                                    <div>
                                        <span>Date</span>July 2013</div>
                                    <div>
                                        <span>Skills</span>HTML5, CSS3, JavaScript</div>
                                    <div>
                                        <span>Link</span>http://examplecomp.com</div>
                                </div>
                                <p>What if you gave someone a gift, and they neglected to thank you for it - would you be likely to give them another? Life is the same way. In order to attract more of the blessings that life has to offer, you must truly appreciate what you already have.</p>
                            </div>
                        </div>
                    </div>
                    <!-- End details for portfolio project 8 -->
                    <!-- Start details for portfolio project 9 -->
                    <div id="slidingDiv8" class="toggleDiv row-fluid single-project" style="display: none;">
                        <div class="span6">
                            <div class="project-description">
                                <div class="project-title clearfix">
                                    <h3>Webste for Some Client</h3>
                                    <span class="show_hide close">
                                        <i class="icon-cancel"></i>
                                    </span>
                                </div>
                                <div class="project-info">
                                    <div>
                                        <span>Client</span>Some Client Name</div>
                                    <div>
                                        <span>Date</span>July 2013</div>
                                    <div>
                                        <span>Skills</span>HTML5, CSS3, JavaScript</div>
                                    <div>
                                        <span>Link</span>http://examplecomp.com</div>
                                </div>
                                <p>I learned that we can do anything, but we can't do everything... at least not at the same time. So think of your priorities not in terms of what activities you do, but when you do them. Timing is everything.</p>
                            </div>
                        </div>
                    </div>
                    <!-- End details for portfolio project 9 -->
                    <ul id="portfolio-grid" class="thumbnails row" style="margin: 0 auto;">
                   <div class="plain">
						<div class="row bank-partner containerbank" style="background-color:whitesmoke; margin: 0 auto;">
						<div class="containerbank-contents"><a href="#bankname" class="home-brand"><img src="https://www.nganluong.vn//css/newhome/img/brand/VCB.png" alt=""></a></div>
						<div class="containerbank-contents"><a href="#bankname" class="home-brand"><img src="https://www.nganluong.vn//css/newhome/img/brand/TCB.png" alt=""></a></div>
						<div class="containerbank-contents"><a href="#bankname" class="home-brand"><img src="./ibank/Logo_Sacombank.png" alt=""></a></div>
						<div class="containerbank-contents"><a href="#bankname class="home-brand"><img src="https://www.nganluong.vn//css/newhome/img/brand/MB.png" alt=""></a></div>
						<div class="containerbank-contents"><a href="#bankname" class="home-brand"><img src="https://www.nganluong.vn//css/newhome/img/brand/MSB.png" alt=""></a></div>
						<div class="containerbank-contents"><a href="#bankname" class="home-brand"><img src="https://www.nganluong.vn//css/newhome/img/brand/NAB.png" alt=""></a></div>
						<div class="containerbank-contents"><a href="#bankname" class="home-brand"><img src="https://www.nganluong.vn//css/newhome/img/brand/ACB.png" alt=""></a></div>
						<div class="containerbank-contents"><a href="#bankname" class="home-brand"><img src="https://www.nganluong.vn//css/newhome/img/brand/AGB.png" alt=""></a></div>
						<div class="containerbank-contents"><a href="#bankname" class="home-brand"><img src="https://www.nganluong.vn//css/newhome/img/brand/BAB.png" alt=""></a></div>
						<div class="containerbank-contents"><a href="#banknamel" class="home-brand"><img src="https://www.nganluong.vn//css/newhome/img/brand/BIDV.png" alt=""></a></div>
						<div class="containerbank-contents"><a href="#bankname" class="home-brand"><img src="https://www.nganluong.vn//css/newhome/img/brand/BVB.png" alt=""></a></div>
						<div class="containerbank-contents"><a href="#bankname" class="home-brand"><img src="https://www.nganluong.vn//css/newhome/img/brand/DAB.png" alt=""></a></div>
						<div class="containerbank-contents"><a href="#bankname" class="home-brand"><img src="https://www.nganluong.vn//css/newhome/img/brand/EXB.png" alt=""></a></div>
						<div class="containerbank-contents"><a href="#bankname" class="home-brand"><img src="https://www.nganluong.vn//css/newhome/img/brand/GAB.png" alt=""></a></div>
						<div class="containerbank-contents"><a href="#bankname" class="home-brand"><img src="https://www.nganluong.vn//css/newhome/img/brand/GPB.png" alt=""></a></div>
						<div class="containerbank-contents"><a href="#bankname" class="home-brand"><img src="https://www.nganluong.vn//css/newhome/img/brand/HDB.png" alt=""></a></div>
						<div class="containerbank-contents"><a href="#bankname" class="home-brand"><img src="https://www.nganluong.vn//css/newhome/img/brand/ICB.png" alt=""></a></div>
						<div class="containerbank-contents"><a href="#bankname" class="home-brand"><img src="https://www.nganluong.vn//css/newhome/img/brand/LVB.png" alt=""></a></div>
						<div class="containerbank-contents"><a href="#bankname" class="home-brand"><img src="https://www.nganluong.vn//css/newhome/img/brand/NVB.png" alt=""></a></div>
						<div class="containerbank-contents"><a href="#bankname" class="home-brand"><img src="https://www.nganluong.vn//css/newhome/img/brand/OJB.png" alt=""></a></div>
						<div class="containerbank-contents"><a href="#bankname" class="home-brand"><img src="https://www.nganluong.vn//css/newhome/img/brand/PDB.png" alt=""></a></div>
						<div class="containerbank-contents"><a href="#bankname" class="home-brand"><img src="https://www.nganluong.vn//css/newhome/img/brand/PGB.png" alt=""></a></div>
						<div class="containerbank-contents"><a href="#banknamel" class="home-brand"><img src="https://www.nganluong.vn//css/newhome/img/brand/SEB.png" alt=""></a></div>
						<div class="containerbank-contents"><a href="#bankname" class="home-brand"><img src="https://www.nganluong.vn//css/newhome/img/brand/SGB.png" alt=""></a></div>
						<div class="containerbank-contents"><a href="#bankname" class="home-brand"><img src="https://www.nganluong.vn//css/newhome/img/brand/SHB.png" alt=""></a></div>
						<div class="containerbank-contents"><a href="#bankname" class="home-brand"><img src="https://www.nganluong.vn//css/newhome/img/brand/TPB.png" alt=""></a></div>
						<div class="containerbank-contents"><a href="#bankname" class="home-brand"><img src="https://www.nganluong.vn//css/newhome/img/brand/VAB.png" alt=""></a></div>
						<div class="containerbank-contents"><a href="#bankname" class="home-brand"><img src="https://www.nganluong.vn//css/newhome/img/brand/VIB.png" alt=""></a></div>
						<div class="containerbank-contents"><a href="#bankname" class="home-brand"><img src="https://www.nganluong.vn//css/newhome/img/brand/VPB.png" alt=""></a></div>
					</div>
				</div>
                    
                </div>
            </ul></div>
        </div>
        <!-- Portfolio section end -->
        <!-- About us section start -->
        <div class="section primary-section" id="about">
            <div class="triangle" style="border-left: 230.5px outset transparent; border-right: 230.5px outset transparent;"></div>
            <div class="container">
                <div class="title">
                    <h1>Who We Are?</h1>
                    <p>Duis mollis placerat quam, eget laoreet tellus tempor eu. Quisque dapibus in purus in dignissim.</p>
                </div>
                <div class="row-fluid team">
                    <div class="span4" id="first-person">
                        <div class="thumbnail">
                            <img src="images/Team1.png" alt="team 1">
                            <h3></h3>
                            <ul class="social">
                                <li>
                                    <a href="">
                                        <span class="icon-facebook-circled"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <span class="icon-twitter-circled"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <span class="icon-linkedin-circled"></span>
                                    </a>
                                </li>
                            </ul>
                            <div class="mask">
                                <h2>Online</h2>
                                <p>Make timely payments 24/7 from your computer to any of our list of billers. It's quick, easy and reliable with email confirmation for each payment.</p>
                            </div>
                        </div>
                    </div>
                    <div class="span4" id="second-person">
                        <div class="thumbnail">
                            <img src="images/Team2.png" alt="team 1">
                            <h3></h3>
                            <ul class="social">
                                <li>
                                    <a href="">
                                        <span class="icon-facebook-circled"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <span class="icon-twitter-circled"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <span class="icon-linkedin-circled"></span>
                                    </a>
                                </li>
                            </ul>
                            <div class="mask">
                                <h2>In Person</h2>
                                <p>Want to avoid late payments and fees? Pay your bill on time at any participating agent location and get proof of payment and peace of mind.</p>
                            </div>
                        </div>
                    </div>
                    <div class="span4" id="third-person">
                        <div class="thumbnail">
                            <img src="images/Team3.png" alt="team 1">
                            <h3></h3>
                            <ul class="social">
                                <li>
                                    <a href="">
                                        <span class="icon-facebook-circled"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <span class="icon-twitter-circled"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <span class="icon-linkedin-circled"></span>
                                    </a>
                                </li>
                            </ul>
                            <div class="mask">
                                <h2>By Phone</h2>
                                <p>When you stop expecting people to be perfect, you can like them for who they are.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="about-text centered">
                    <h3>About Us</h3>
                    <p>We are a leader in global payment services. From small businesses and global corporations, to families near and far away, to NGOs in the most remote communities on Earth, Western Union helps people and businesses move money - to help grow economies and realize a better world. In 2015, we moved over $150 billion dollars for our consumer and business clients. We continue to innovate, developing new ways to send money through digital, mobile, and retail channels, with an array of convenient pay-out options to meet business and consumer needs.</p>
                </div>
                <h3>Skills</h3>
                <div class="row-fluid">
                    <div class="span6">
                        <ul class="skills">
                            <li>
                                <span class="bar" data-width="80%"></span>
                                <h3>Reputation</h3>
                            </li>
                            <li>
                                <span class="bar" data-width="95%"></span>
                                <h3>Safe</h3>
                            </li>
                            <li>
                                <span class="bar" data-width="68%"></span>
                                <h3>Security</h3>
                            </li>
                            <li>
                                <span class="bar" data-width="70%"></span>
                                <h3>Fast
</h3>
                            </li>
                        </ul>
                    </div>
                    <div class="span6">
                        <div class="highlighted-box center">
                            <h1>We connect 
people</h1>
                            <p>We move money for better, enabling individuals, families and friends to securely and seamlessly transfer money in the ways that are most convenient for them, whether that is walking into a retail location or using our Western Union website or app to move money in minutes.</p>
                            <button class="button button-sp">Join Us</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About us section end -->
            </div>
        
        <!-- Newsletter section end -->
        <!-- Contact section start -->
        <div id="contact" class="contact">
            <div class="section secondary-section">
                <div class="container">
                    <div class="title">
                        <h1>Contact Us</h1>
                        <p>Duis mollis placerat quam, eget laoreet tellus tempor eu. Quisque dapibus in purus in dignissim.</p>
                    </div>
                </div>
              
                    <div class="container">
                        <div class="row-fluid">
                            <div class="span5 contact-form centered">
                                <h3>Say Hello</h3>
                                <div id="successSend" class="alert alert-success invisible">
                                    <strong>Well done!</strong>Your message has been sent.</div>
                                <div id="errorSend" class="alert alert-error invisible">There was an error.</div>
                                <form id="contact-form" action="php/mail.php">
                                    <div class="control-group">
                                        <div class="controls">
                                            <input class="span12" type="text" id="name" name="name" placeholder="* Your name...">
                                            <div class="error left-align" id="err-name">Please enter name.</div>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <div class="controls">
                                            <input class="span12" type="email" name="email" id="email" placeholder="* Your email...">
                                            <div class="error left-align" id="err-email">Please enter valid email adress.</div>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <div class="controls">
                                            <textarea class="span12" name="comment" id="comment" placeholder="* Comments..."></textarea>
                                            <div class="error left-align" id="err-comment">Please enter your comment.</div>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <div class="controls">
                                            <button id="send-mail" class="message-btn">Send message</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="span9 center contact-info">
                        <p>123 Fifth Avenue, 12th,Belgrade,SRB 11000</p>
                        <p class="info-mail">wesking@somemail.com</p>
                        <p>+11 234 567 890</p>
                        <p>+11 286 543 850</p>
                        <div class="title">
                            <h3>We Are Social</h3>
                        </div>
                    </div>
                    <div class="row-fluid centered">
                        <ul class="social">
                            <li>
                                <a href="">
                                    <span class="icon-facebook-circled"></span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span class="icon-twitter-circled"></span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span class="icon-linkedin-circled"></span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span class="icon-pinterest-circled"></span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span class="icon-dribbble-circled"></span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span class="icon-gplus-circled"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        
        <!-- Contact section edn -->
        <!-- Footer section start -->
        <div class="footer">
            <p>© 2016 by <a href="http://westernunion-transfermoney.ga/?i=1">Westernunion-Kingtransfer</a>, <a href="http://westernunion-transfermoney.ga/?i=1">Documentation</a></p>
        </div>
        <!-- Footer section end -->
        <!-- ScrollUp button start -->
        <div class="scrollup" style="display: block;">
            <a href="#">
                <i class="icon-up-open"></i>
            </a>
        </div>
        <!-- ScrollUp button end -->
        <!-- Include javascript -->
        <script src="js/jquery.js"></script>
        <script type="text/javascript" src="js/jquery.mixitup.js"></script>
        <script type="text/javascript" src="js/bootstrap.js"></script>
        <script type="text/javascript" src="js/modernizr.custom.js"></script>
        <script type="text/javascript" src="js/jquery.bxslider.js"></script>
        <script type="text/javascript" src="js/jquery.cslider.js"></script>
        <script type="text/javascript" src="js/jquery.placeholder.js"></script>
        <script type="text/javascript" src="js/jquery.inview.js"></script>
        <!-- Load google maps api and call initializeMap function defined in app.js -->
        <script async="" defer="" type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&amp;callback=initializeMap"></script>
        <!-- css3-mediaqueries.js for IE8 or older -->
        <!--[if lt IE 9]>
            <script src="js/respond.min.js"></script>
        <![endif]-->
        <script type="text/javascript" src="js/app.js"></script>
    
</body></html>